body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    background-image: url('dashboard.jpeg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 40px; 
    align-items: center;
    padding: 40px; 
    border: 3px solid black;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.9);
    min-height: 400px; 
    opacity: 0.8; 
}
h1 {
    color: white;
    margin-bottom: 20px;
}
.box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #333;
    text-align: center;
    width: 300px;
    font-weight: bold;
    opacity: 0.8; 
    cursor: pointer;
}
.back-button {
    width: 150px;
    margin-top: 20px;
    background: #ff5733;
    color: white;
    font-weight: bold;
    border: 2px solid #b03a2e;
}